<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/scripts.js" type="text/javascript"></script>
        <title>It's NOT pronounced "Lie-Berry"!</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1><a href="/">Library</a></h1>
            </div>
            <ul class="list-group">
                <li class="list-group-item active"><h4>Patron's Main Menu</h4></li>
                <li class="list-group-item"><a href="/patron/authors">Browse by Author</a></li>
                <li class="list-group-item"><a href="/patron/titles">Browse by Title</a></li>
            </ul>
            <h3>Loan History</h3>
            <form action="/patron/history" method="post">
                <div class="form-group">
                    <select id="patron_id" name="patron_id" class="form-control">
                        {% if patrons is not empty %}
                            {% for patron in patrons %}
                            <option value="{{ patron.getId }}">{{ patron.getName }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">View History</button>
            </form>
        </div>
    </body>
</html>
